<ion-view hide-nav-bar="true">

    <ion-content>
		<p>36</p>
		<canvas face emo="happy" data="1" height="36" width="36" color="rgb(237,178,14)"></canvas>
		<canvas face emo="sad" data="4" height="36" width="36" color="rgb(230,0,0)"></canvas>
		<p>48</p>
		<canvas face emo="happy" data="1" height="48" width="48" color="rgb(237,178,14)"></canvas>
		<canvas face emo="sad" data="4" height="48" width="48" color="rgb(230,0,0)"></canvas>
		<p>72</p>
		<canvas face emo="happy" data="1" height="72" width="72" color="rgb(237,178,14)"></canvas>
		<canvas face emo="sad" data="4" height="72" width="72" color="rgb(230,0,0)"></canvas>
		<p>96</p>
		<canvas face emo="happy" data="1" height="96" width="96" color="rgb(237,178,14)"></canvas>
		<canvas face emo="sad" data="4" height="96" width="96" color="rgb(230,0,0)"></canvas>
		<p>396</p>
		<canvas face emo="happy" data="1" height="396" width="396" color="rgb(237,178,14)"></canvas>
		<canvas face emo="sad" data="4" height="96" width="96" color="rgb(230,0,0)"></canvas>
		<p>1</p>
		<canvas face emo="happy" data="1" height="90" width="90" color="rgb(237,178,14)"></canvas>
		<canvas face emo="sad" data="1" height="90" width="90" color="rgb(230,0,0)"></canvas>
		<p>2</p>
		<canvas face emo="happy" data="2" height="90" width="90" color="rgb(237,178,14)"></canvas>
		<canvas face emo="sad" data="2" height="90" width="90" color="rgb(230,0,0)"></canvas>
		<p>3</p>
		<canvas face emo="happy" data="3" height="90" width="90" color="rgb(237,178,14)"></canvas>
		<canvas face emo="sad" data="3" height="90" width="90" color="rgb(230,0,0)"></canvas>
		<p>4</p>
		<canvas face emo="happy" data="4" height="90" width="90" color="rgb(237,178,14)"></canvas>
		<canvas face emo="sad" data="4" height="90" width="90" color="rgb(230,0,0)"></canvas>
		<p>5</p>
		<canvas face emo="happy" data="5" height="90" width="90" color="rgb(237,178,14)"></canvas>
		<canvas face emo="sad" data="5" height="90" width="90" color="rgb(230,0,0)"></canvas>
		<p>6</p>
		<canvas face emo="happy" data="6" height="90" width="90" color="rgb(237,178,14)"></canvas>
		<canvas face emo="sad" data="6" height="90" width="90" color="rgb(230,0,0)"></canvas>
		<p>7</p>
		<canvas face emo="happy" data="7" height="90" width="90" color="rgb(237,178,14)"></canvas>
		<canvas face emo="sad" data="7" height="90" width="90" color="rgb(230,0,0)"></canvas>
		<p>8</p>
		<canvas face emo="happy" data="8" height="90" width="90" color="rgb(237,178,14)"></canvas>
		<canvas face emo="sad" data="8" height="90" width="90" color="rgb(230,0,0)"></canvas>
		
    </ion-content>

</ion-view>
