<ion-view title="Add Program" hide-nav-bar="false" hide-back-button="false">
  <ion-content class="has-header padding">
    <p>Choose a program type to add...</p>

<div class="list">

  <a class="item" href="#/tab/config/newprog/smp">
    Sequential Multiplication <br/>[A..B]xC
  </a>
  <a class="item" href="#/tab/config/newprog/rsm">
    Random Selection Multiplication <br/>[A..B]x[C..D]
  </a>
  <a class="item" href="#/tab/config/newprog/rsd">
    Random Selection Division <br/>x/[A..B]=[C..D]
  </a>
  <a class="item" href="#/tab/config/newprog/ts">
    Total Sum <br/>[A..B]{+[C..D]}E
  </a>
  <a class="item" href="#/tab/config/newprog/ubadd">
    Upperbounded Sum <br/>0 &lt; x+y &lt; A
  </a>
  <a class="item" href="#/tab/config/newprog/subtr">
    Bounded Difference <br/>[A..B]-x=[C..D]
  </a>

</div>

	<p>soon to come...</p>
	<p>Division as an inverse of multiplication tables</p>  
  </ion-content>

</ion-view>
